*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
 
body{
    background-color: black;
}

/* header */

@media (max-width:1000px) {
    body{
      overflow-x: hidden;
    }
  }
  
  .abovehead{
    display: flex;
    background-color: rgb(116, 10, 10);
    height: 80px;
    top:0;
      left: 0;
      right: 0;
      align-items: right;
      padding-left: 80%;
      min-height: 40px;
      z-index: 1000;
      position: fixed;
  }
  
  .abovehead img{
    height: 30px;
    margin-top: 23px;
  }
  
  .abovehead p{
    text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
   color: white;
  }
  
  
  nav{
      display: flex;
      background-color: transparent;
      height: 80px;
      width: 100%;
      z-index: 1000;
      background-color: black;
      align-items: center;
      padding: 10px 20px;
      min-height: 40px;
      gap:120px;
      position: fixed;
      /* box-shadow: #444; */
    }
    
    nav ul {
      list-style-type: none;
      color: white;
      display: flex;
      flex-direction: row;
    }
    
    nav li {
      list-style: none;
      color: white;
      padding:10px;
      border-radius: 10px;
      font-family: monospace;
      transition: 0.7s ease;
    }
    
    nav a {
      text-decoration: none;
      color: white;
      transition: color 0.3s;
      font-size: 20px;
      font-family: monospace;
    }
    
    .navbar {
      position: relative;
      align-content: center;
      padding: 20px;
      column-gap: 40px;
    }
    
    .navbar a:hover {
      color: red;
    }
    
    @media (max-width:1000px) {
      .nav-links {
          display: none;
      }
      .nav-item{
          display: none;
      }
  
      nav{
        position: relative;
        justify-content: center;
      }
  
      
  
  .abovehead{
    position: relative;
  padding: 0;
  justify-content: center;
  height: 50px;
  }
  
  .abovehead img{
    height: 25px;
    margin-top: 12px;
  }
  
    }
  
  
    @media (max-width:360px) {
     
  
    }
    
    @media (max-width:1000px) { 
      
      .hamburger{
          background-color: black;
          margin-right: 100px;
      }
  
      
      
    }
    
    @media (min-width:1200px) {
      .hamburger {
          display: none;
      }
      
    }
    
    
    .sidebar {
      position: fixed;
      top: 0;
      display: none;
      right: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      background-color: black;
      flex-direction: column;
      z-index: 101;
      font-size: 50px;
      align-items: left;
      padding: 10px;
      justify-content: flex-start;
      }
      
      .sidebar a:hover {
          color: rgb(99, 10, 10);
      }
  
      .sidebar a{
          color: white;
      }
      
      .img-logo{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 50px;
        height:250px;
        margin-left: 30px;
        cursor: pointer;
      }
    
      
      .sidebarbtn {
          margin-top: 20px;
          width: 20px;
      }
  
      .nav-item {
          position: relative;
          cursor: pointer;
      }
      
      .nav-item:hover {
          color: #007bff; 
      }
      
      .nav-item::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 10px; 
          width: 100%; 
          height: 2px; 
          background-color: red; 
          transform: translateX(-50%); 
      }
  
  
      /* header ends */
  

/* main */
@media (max-width:1000px){

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center
}


}
    



main{
    width: 100%;
    height: auto;
    background-color: rgb(235, 229, 229);
    align-items: center;
}

.image img{
    height: 500px;

}



.image{
    display: flex;
align-items: center;
justify-content: center;
align-content: center;
padding-top: 70px;
}

.container{
    display: flex;
    background-color: rgb(235, 229, 229);
    gap: 30px;
    padding: 40px;
}

.left h1{
    padding: 10px;
    color: black;
}
.left h3{
    color: black;
}

/* Footer */
.last, .lasted {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.legal h1, .safety h1, .privacy h1, .cookies h1, .about-ads h1, .accessibility h1 {
    color: white;
    font-size: 15px;
}

.logo img{
    height: 200px;
}

.socials img{
    height: 50px;
    border-radius: 50px;
}

.socials{
    gap: 20px;
    display: flex; 
    align-content: center;
    align-items: center;
}
